<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Event Types</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="min-h-screen bg-slate-100 text-gray-900 dark:bg-gray-900 dark:text-gray-100">
        <div class="mx-auto mt-10 w-11/12">
            <div class="flex justify-between">
                <div>
                    <h1 class="text-xl font-bold">Event Types</h1>
                    <p class="text-sm">Create events to share for people to book on your calendar.</p>
                </div>
                <div
                    class="flex w-24 items-center justify-center rounded-lg bg-gray-900 text-gray-100 dark:bg-gray-100 dark:text-gray-900"
                >
                    <a href="/event/create"><span class="mr-2">+</span> New</a>
                </div>
            </div>
        </div>
        <div class="mx-auto mt-8 flex w-11/12 flex-col">
            {% for event in events %}

            <a href="/event/update/{{ event.id }}">
                <div class="space-y-2 rounded-md border border-gray-300 p-5 text-sm dark:border-gray-700">
                    <div class="flex items-center space-x-2">
                        <p class="text-base font-semibold">{{ event.title }}</p>
                        <p>/{{ event.url }}</p>
                    </div>
                    <div><p class="font-thin">{{ event.description }}</p></div>

                    <span class="dark:bg-gra flex w-14 items-center space-x-1 rounded-md bg-gray-300">
                        <img src="/static/images/clock.svg" alt="clock image" class="h-4 w-4" />
                        <p class="text-xs">{{ event.duration }}m</p>
                    </span>
                </div>
            </a>
            {% endfor %}
        </div>

        {% if not events %}
        <div
            class="mx-auto mt-10 flex h-96 w-11/12 items-center justify-center rounded-lg border-2 border-dotted border-gray-400"
        >
            <div class="space-y-4 text-center">
                <span class="inline-flex items-center justify-center rounded-full bg-gray-300 p-2">
                    <img src="/static/images/link.svg" class="h-12 w-14 -rotate-45 transform" alt="Link icon" />
                </span>
                <div class="text-xl font-bold text-gray-900 dark:text-gray-100">Create your first event type</div>
                <div class="text-sm">
                    <p>Event types enable you to share links that show available times</p>
                    <p>on your calendar and allow people to make bookings with you.</p>
                </div>
                <button class="h-10 w-20 rounded-lg bg-gray-900 text-gray-100 dark:bg-gray-100 dark:text-gray-900">
                    Create
                </button>
            </div>
        </div>
        {% endif %}
    </body>
</html>
