{% extends "base.html" %} {% block imports %} {% import "components/create_availability.html" as create_availability %}
{{ create_availability.render() }} {% endblock %} {% block content %}

<div class="flex min-h-screen">
    {% import "components/index_sidebar.html" as sidebar %} {{ sidebar.render(user) }}

    <!-- Main Content -->
    <main class="min-h-screen w-full bg-[#1A1A1A] p-6" id="app">
        <create-availability
            @closecreateavailability="closeAvailability"
            v-if="createAvailabilityOpened"
        ></create-availability>

        <div class="flex flex-row justify-between">
            <div class="mb-4">
                <h1 class="text-3xl font-bold text-white">Availability</h1>
                <p class="text-white">Configure times when you are available for bookings.</p>
            </div>

            <button
                @click="createAvailability"
                class="block h-10 rounded bg-[#FAFAFA] px-4 py-2 font-semibold text-black hover:bg-zinc-500"
            >
                <span class="mr-2">+</span> New
            </button>
        </div>

        {% for availability in user.availabilities %}
        <div
            class="{% if loop.first %} {% endif %} {% if loop.last %} {% endif %} flex h-40 flex-col gap-2 rounded-b-lg rounded-t-lg border border-[#383838] bg-[#1A1A1A] hover:bg-zinc-500"
        >
            <h2 class="mt-4 pl-4 text-lg font-bold text-white">
                <a href="/availability/{{ availability.id }}">{{ availability.name }}</a>
            </h2>
            <h4 class="pl-4 text-xs text-white">Monday 22:00</h4>
        </div>
        {% endfor %}
    </main>
</div>

{% endblock %}
