{% extends "base.html" %} {% block content %}

    <div class="flex min-h-screen">
        {% include "/components/index_sidebar.html" %}

        <!-- Main Content -->
        <main class="flex h-screen w-full flex-col overflow-y-auto bg-[#1A1A1A] p-8">
            <div class="flex flex-row justify-between">
                <div class="mb-4">
                    <h1 class="text-3xl font-bold text-white">Availability</h1>
                    <p class="text-white">Configure times when you are available for bookings.</p>
                </div>

                <button class="block h-10 rounded bg-[#FAFAFA] px-4 py-2 font-semibold text-black hover:bg-zinc-500">
                    <span class="mr-2">+</span> New
                </button>
            </div>

            {% for availability in user.availabilities %}

                <div class="flex h-40 flex-col gap-2 border border-[#383838] bg-[#1A1A1A] hover:bg-zinc-500 {% if loop.first %} rounded-t-lg {% endif %} {% if loop.last %} rounded-b-lg {% endif %}">

                    <h2 class="mt-4 text-lg font-bold text-white pl-4">
                        <a href="/availability_detail/{{ availability.id }}">{{ availability.name }}</a>
                    </h2>
                    <h4 class="text-xs text-white pl-4">Monday 22:00</h4>
                </div>

            {% endfor %}
        </main>
    </div>
    <script></script>
{% endblock %}
